/*
 Theme Name:   EMILY Theme
 Theme URI:    http://t5.publications.clas.ufl.edu
 Description:  Theme for the College of Liberal Arts and Sciences homesite
 Author:       Yash Singh
 Author URI:   https://comms.clas.ufl.edu/the-team/
 Template:     twentyseventeen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-seventeen-child
*/


