/*This is the CSS for the Spring 2020 Recognition Page. It should only load on this page */

* {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

html {
  scroll-behavior: smooth;
}

img.background {
    position: fixed;
    z-index: -1;
    object-fit: cover;
    object-position: -90px;
    height: 100vh;
    width: 100vw;
}

.btn::after {
  display: none;
}

body {
    background: #002346;
}

/*===========================================

Header

=============================================*/
header {
  display: flex;
  background: #002346;
  width: 100%;
  align-items: center;
}

.header-divider {
  height: 5.6rem;
}

.top-mobile-header {
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    background: #002346;
    z-index: 2;
}

.top-mobile-header:after {
  background: #337AB7;
  content: "";
  position: absolute;
  z-index: 99999;
  width: 50px;
  height: 50px;
  right: 0;
}

h1 {
    font-family: "Surveyor Text A", "Surveyor Text B";
    font-style: italic;
    font-weight: 400;
    color: white;
    font-size: 1.1875rem;
    line-height: 26px;
    letter-spacing: 0;
    width: calc(100% - 100px);
    text-align: center;
}

header .mobile {
    width: calc(100% - 50px) !important;
    text-align: center;
}

header .tablet {
    width: calc(100% - 20px) !important;
    text-align: center;
}

.top-mobile-header h1.mobile {
    width: calc(100% - 100px);
    margin-left: 0 !important;
}

header .mobile svg {
    width: 12.5rem;
    height: auto;
}

.uf-wordmark {
    background: #F45A1D;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.125rem;
    height: 3.125rem;
}

.uf-wordmark svg {
    max-width: 100%;
    width: 2rem;
    height: 1.375rem;
}

.uf-wordmark path {
    fill: white !important;
}

.uf-wordmark polygon {
    fill: white;
}

iframe {
  width: 100%;
}

.divider {
    text-align: center;
}

.tablet {
    display: none;
}

.desktop-menu {
  display: none !important;
}

.top-hamburger-menu {
    display: flex;
    align-items: center;
    background: #002346;
    top: 0;
    position: absolute;
    width: 100%;
    width: calc(100% - 50px);
}

nav li {
    list-style: none;
}

.hamburger-menu-icon {
    position: absolute;
    top: -16px;
    left: -34px;
    z-index: 99;
    height: 50px;
    width: 50px;
}

input:checked ~ .hamburger-menu-icon {
  background: #337AB7;
}


#menuToggle {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 2;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    font-family: "Surveyor Text A", "Surveyor Text B";
    font-style: italic;
    font-weight: 500;
    color: #002346;
    line-height: 21px;
    text-decoration: none;
    transition: color 0.3s ease;
    padding-right: 3rem !important;
    font-size: 1.125rem;
}

#menuToggle input:checked ~ span {
    right: -10px !important;
    top: -1px;
}

#menuToggle li a:after {
    position: relative;
    content: "\02192";
    color: #00337A;
    float: right;
    margin: 0 0 0 -1.3rem;
    width: 1em;
    font-size: 1.1rem;
    font-family: "Quadon_Bold";
    font-weight: 400;
    font-style: initial;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -17px;
  left: -34px;
  cursor: pointer;
  opacity: 0;
  z-index: 9999999;
}

#menuToggle .hamburger-menu-icon span {
  display: block;
  width: 20px;
  height: 2px;
  margin-bottom: 7px !important;
  position: relative;
  background: #fff;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
  top: 16px;
  right: -14px;
}

#menuToggle .hamburger-menu-icon span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle .hamburger-menu-icon span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ .hamburger-menu-icon span {
  opacity: 1;
  transform: rotate(45deg) translate(-22px, -22px);
  background: #fff;
  height: 2px;
  margin-bottom: 8px !important;
  left: 17px;
  top: 28px;
  width: 25px;
}

#menuToggle input:checked ~ .hamburger-menu-icon span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ .hamburger-menu-icon span:nth-last-child(2) {
  transform: rotate(-45deg) translate(5px, -4px);
}

#menu {
   position: absolute;
   width: 100vw;
   margin: 0 !important;
   padding-top: 65px !important;
   background: #ededed;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
   top: -16px;
   right: -16px;
}

#menu ul {
    max-width: 80%;
    margin: 0 auto !important;
}

#menu li {
    padding: 1rem 0 !important;
    font-size: 22px;
    border-bottom: 1px solid #F45A1D !important;
}

#menuToggle input:checked ~ div
{
  transform: none;
}

.tablet-banner {
    background: #002346;
    text-align: center;
    margin-top: 2.5rem !important;
}

.tablet-banner p {
    font-family: "Surveyor Display A", "Surveyor Display B" !important;
    font-style: normal;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    font-size: 1.25rem;
    padding: .938rem 0 !important;
}

/*===========================================

Top Section

=============================================*/
#container_graph_headers {
    text-align: center;
    margin-top: 4rem !important;
    height: 100vh;
}

#container_graph_headers p {
    color: white;
    max-width: 275px;
    margin: 0 auto !important;
}

#container_graph_headers .flower-icon {
    margin: 2rem 0 !important;
}

p.graph_header,
p#graph_header_titleSlug span {
    font-family: "Surveyor Text A", "Surveyor Text B" !important;
    font-style: italic;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 28px;
    letter-spacing: 0;
}

p#graph_header_titleSlug span {
  text-transform: lowercase;
  margin-right: 5px !important;
}

#graph_header_titleSlug,
.ceremony-date {
    font-family: "Surveyor Display A", "Surveyor Display B" !important;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 28px;
    letter-spacing: 0;
    text-transform: uppercase;
    position: relative;
}

.flower-icon {
    margin: 7rem 0 2rem !important;
    text-align: center;
}

.flower-icon svg {
    width: 25px;
    height: 25px;
}

.flower-icon path {
    fill: white;
}

.flower-icon span {
  display: inline-block;
  position: relative;
}

.flower-icon span:before,
.flower-icon span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid #F45A1D;
    border-top: 1px solid #F45A1D;
    top: 8px;
    width: 120px;
}

.flower-icon span:before {
    right: 100%;
    margin-right: 10px;
}

.flower-icon span:after {
  left: 100%;
  margin-left: 10px;
}

.clas-graduation-crest svg {
    width: 14rem;
    height: 7rem;
    margin: 1rem auto !important;
}

/*===========================================

Sections

=============================================*/
.link-landing {
    height: 70px !important;
}

.major-recognition.section-container {
    height: auto;
}

h2.congratulations {
    font-family: "Surveyor Display A", "Surveyor Display B" !important;
    font-style: normal !important;
    font-weight: 500 !important;
    color: white;
    text-align: center;
    font-size: 1.375rem !important;
    line-height: 30px;
}

p.from-message {
    font-family: "Surveyor Text A", "Surveyor Text B" !important;
    font-style: italic;
    font-weight: 400 !important;
    font-size: 1.25rem;
    color: white;
    text-align: center;
}

.section-container > iframe {
    margin: 2rem 0 !important;
}

ul.majors {
    background: white;
    margin-top: 2rem !important;
    padding: 2.375rem 1rem !important;
}

ul.majors li {
    font-family: "Surveyor Text A", "Surveyor Text B" !important;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 1.125rem;
    line-height: 24px;
    padding: 5px 0 !important;
    max-width: 250px;
    margin: 0 auto !important;
    list-style: none;
    text-align: left;
    cursor: pointer;
}

ul.majors li:hover {
    color: #C2510A;
    cursor: pointer;
}

.majors-container {
    background: white;
}

.deans-message,
.associate-deans-message,
.student-message,
.alumna-message,
.major-recognition,
.social-media {
  text-align: center;
}

.deans-message iframe,
.associate-deans-message iframe,
.student-message iframe,
.alumna-message iframe,
.modal-body iframe {
    position: relative !important;
    z-index: 1 !important;
    height: 180px;
    max-width: 320px;
    margin: 1rem 0 !important;
}

.deans-message iframe,
.associate-deans-message iframe,
.student-message iframe,
.alumna-message iframe {
    border: 1px solid #A9DCDA !important;
}

.student-message.section-container .inner-container {
    height: auto;
}

/*===========================================

Footer

=============================================*/
footer {
    background: #002346;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.journeys-wordmarks svg {
    width: 10.5rem;
    height: 1.25rem;
}

.clas-wordmark svg {
    width: 23.75rem;
    height: 2.8rem;
}

.clas-wordmark path.cls-1 {
    fill: white;
}

.clas-wordmark .cls-2 {
    fill: #f45a1d;
}

.clas-wordmark polygon.cls-1 {
    fill: white;
}

.clas-wordmark {
    display: none;
}

.journeys-wordmark svg {
    width: 10rem;
    height: 1.25rem;
}

/*===========================================

Modals - Bootstrap and Custom Code

=============================================*/
.modal-open {
  overflow: hidden;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.67);
    z-index: 9999;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem !important;
  pointer-events: none;
}

.modal.fade .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}

.modal-footer button {
    background: none;
    color: white;
    font-family: "Surveyor Text A", "Surveyor Text B";
    font-style: italic;
    font-weight: 400;
    padding: 1rem !important;
    font-size: 1.25rem;
}

p.graduating-list {
  text-align: center;
  line-height: 22px;
}

p.graduating-list a {
    font-family: "Surveyor Text A", "Surveyor Text B" !important;
    font-style: normal;
    font-weight: 400;
    color: white;
    text-transform: inherit;
    letter-spacing: 1px;
    transition: .3s;
    font-size: 1.125rem;
}

.modal-header {
  padding: 1rem !important;
}

.modal-footer button:hover {
    text-decoration: underline;
}

@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}

.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}

.modal-dialog-scrollable {
  display: -ms-flexbox;
  display: flex;
  max-height: calc(100% - 1rem);
}

.modal-dialog-scrollable .modal-content {
  max-height: calc(100vh - 1rem);
  overflow: hidden;
}

.modal-dialog-scrollable .modal-header,
.modal-dialog-scrollable .modal-footer {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}

.modal-dialog-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - 1rem);
  content: "";
}

.modal-dialog-centered.modal-dialog-scrollable {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
  max-height: none;
}

.modal-dialog-centered.modal-dialog-scrollable::before {
  content: none;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #002346;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
    margin: 0 1rem !important;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}

.modal-header {
    justify-content: center;
}

.modal-title {
    font-family: "Surveyor Display A", "Surveyor Display B";
    font-style: normal;
    font-weight: 500;
    color: white;
    font-size: 1.375rem;
    margin-bottom: 0;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: .5px;
    text-align: center;
}

.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0 1rem !important;
}

.modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.modal-footer > :not(:first-child) {
  margin-left: .25rem;
}

.modal-footer > :not(:last-child) {
  margin-right: .25rem;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 1080px;
    margin: 1.75rem auto !important;
  }
  .modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem);
  }
  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 3.5rem);
  }
  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }
  .modal-dialog-centered::before {
    height: calc(100vh - 3.5rem);
  }
  .modal-sm {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}

/*===========================================

Social Media

=============================================*/

.instagram-intro {
    margin-bottom: 1rem !important;
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 1rem auto !important;
    justify-content: center;
}

.instagram-intro svg {
    width: 1.875rem;
    height: 1.875rem;
}

.instagram-intro p {
    font-family: "Surveyor Text A", "Surveyor Text B" !important;
    font-style: italic;
    font-weight: 400;
    color: white;
    margin:0 .5rem !important;
}

.instagram-intro:after {
    content: "";
    height: 1px;
    border-top: 1px solid white;
    width: 45%;
    max-width: 150px;
}

.sbi_info,
.sb_instagram_header.sbi_feed_type_user.sbi_no_avatar,
.sbi_username,
.sbi_instagram_link,
.sbi_date,
.sbi_lb-dataContainer {
    display: none !important;
}

.sbi_item .sbi_photo_wrap {
    margin: .5rem !important;
}

#sb_instagram {
    margin: 0 auto !important;
}

#sb_instagram.sbi_width_resp {
    max-width: 390px !important;
    width: 100% !important;
}

#sbi_load {
    margin-bottom: 4rem !important;
}

.sbi_lb-outerContainer {
    margin: 0 auto !important;
}

.sbi_load_btn,
.sbi_follow_btn a {
    background: #002346 !important;
    padding: .5rem 1rem !important;
    font-size: 1rem !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: inset 0 0 10px 20px rgba(0,0,0,.3);
    margin: .5rem !important;
}

.sbi_follow_btn svg {
    margin-right: .5rem !important;
}

/*===========================================

Media Queries

=============================================*/

@media (min-width: 768px){
  img.background {
      object-position: 0;
  }

  /*===========================================
    Header
  =============================================*/
  .mobile {
    display: none;
  }

  .uf-wordmark svg {
    width: 2.5rem;
    height: 1.625rem;
  }

  .tablet {
      display: block !important;
      font-family: "Surveyor Display A", "Surveyor Display B";
      font-style: normal;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 29px;
      text-transform: uppercase;
      width: 100% !important;
      text-align: center;
      color: white;
  }

  .top-hamburger-menu {
    height: 3.75rem;
    width: calc(100% - 60px);
  }

  .hamburger-menu-icon {
    top: -12px;
    left: -38px;
    height: 60px;
    width: 60px;
  }

  input:checked ~ .hamburger-menu-icon {
    background: #337AB7;
    top: -16px;
    left: -44px;
  }

  #menu li {
    padding: 1.125rem 0 !important;
  }

  #menuToggle a {
    font-size: 1.25rem;
  }

  #menuToggle input:checked .hamburger-menu-icon span {
    right: -5px !important;
    top: 5px;
  }

  #menuToggle span {
      top: 15px;
      right: -13px;
  }

  #menuToggle input:checked ~ .hamburger-menu-icon span {
    left: 21px;
    top: 34px;
  }

  .top-mobile-header:after {
    width: 60px;
    height: 60px;
  }
  /*===========================================
    Top Section
  =============================================*/
  p.graph_header,
  #graph_header_titleSlug span,
  p.ceremony-date,
  p#graph_header_titleSlug span {
    font-size: 2.25rem;
    line-height: 43px;
    margin-bottom: 10px !important;
  }

  p#graph_header_titleSlug {
    font-size: 2.25rem;
    line-height: 43px;
    margin-bottom: 10px auto !important;
  }

  #container_graph_headers p {
    max-width: 505px;
  }

  p.ceremony-date:before, p.ceremony-date:after {
    width: 165px;
  }

  .uf-wordmark {
    width: 3.75rem;
    height: 3.75rem;
  }

  /*===========================================
    Sections
  =============================================*/

  .flower-icon svg {
    width: 2rem;
    height: 2rem;
  }

  .flower-icon span:before,
  .flower-icon span:after {
    width: 275px;
    border-bottom: 1.5px solid #F45A1D;
    border-top: 1.5px solid #F45A1D;
    top:10px;
    height: 10px;
  }

  .clas-graduation-crest svg {
    width: 24rem;
    height: 12.125rem;
  }

  h2.congratulations {
    font-size: 2.25rem !important;
    line-height: 48px;
    margin-bottom: 10px !important;
  }

  p.from-message {
    font-size: 2rem;
    line-height: 46px;
  }

  ul.majors {
    column-count: 2;
  }

  .deans-message iframe,
  .associate-deans-message iframe,
  .student-message iframe,
  .alumna-message iframe,
  .modal-body iframe {
    position: relative !important;
    z-index: 1 !important;
    height: 480px;
    max-width: 768px;
}

p.graduating-list {
    margin-top: 2rem !important;
}

p.graduating-list a {
  border: 1px solid white !important;
  font-size: 1.25rem;
  padding: 1rem !important;
}

/*===========================================
  Social Media
=============================================*/
  .instagram-intro p {
      font-size: 1.625rem;
      margin: 0 1rem !important;
  }

  #sb_instagram.sbi_width_resp {
    max-width: 590px !important;
  }

  .instagram-intro:after {
    max-width: 400px;
  }

  .instagram-intro svg {
    width: 2.5rem;
    height: 2.5rem;
  }

  /*===========================================
    Footer
  =============================================*/

  footer {
    height: 3.75rem;
    clear: both;
  }

  .journeys-wordmark svg {
    width: 15rem;
    height: 1.875rem;
  }

}

@media (min-width: 1025px){
  .fixed-header,
  .top-mobile-header,
  .header-divider
   {
    display: none;
  }

  .mobile-menu {
    display: none !important;
  }

  header {
    position: fixed;
    top: 0;
    z-index: 9999;
  }

  .inner-container {
    min-height: 100vh;
  }

  .desktop-menu {
    height: 5.6rem;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin: 0 auto !important;
  }

  .desktop-menu ul {
    display: flex;
    text-align: center;
    align-items: center;
  }

  .desktop-menu li {
    display: inline;
    margin: 0 1rem !important;
  }

  .desktop-menu li a {
    color: white;
    font-family: "Surveyor Text A", "Surveyor Text B";
    font-style: italic;
    font-weight: 400;
    font-size: 1.25rem;
    transition: .3s;
  }

  .desktop-menu li a:hover {
    color: #F45A1D;
    transition: .3s;
  }

  h2.congratulations {
    font-size: 2.75rem !important;
  }

  p.from-message {
    font-size: 2.375rem;
  }

  p.graph_header,
  #graph_header_titleSlug {
      font-size: 2.625rem;
      line-height: 58px !important;
  }

  #graph_header_titleSlug span {
    font-size: 2.625rem !important;
  }

  .flower-icon {
    margin: 0 !important
  }

  .flower-icon svg {
    width: 2.875rem;
    height: 2.875rem;
  }

  .flower-icon span:before, .flower-icon span:after {
    width: 380px;
    height: 12px;
    top: 15px;
  }

  section {
    height: 100vh;
  }

  .link-landing {
    height: 90px !important;
    margin: 1rem !important;
  }

  .section-container {
      padding-top: 0 !important;
      height: 100vh;
      display: initial;
  }

  #top {
      padding: .1rem !important;
  }

  #container_graph_headers {
      display: initial;
      justify-content: center;
      align-items: center;
      margin-top: 4vh !important;
  }

  #container_graph_headers p {
    max-width: 835px;
    font-size: 2.625rem !important;
  }

  .clas-graduation-crest svg {
    width: 31.25rem;
    height: 15.625rem;
    margin-top: 5rem !important;
  }

  #container_graph_headers .flower-icon {
      margin: 4rem 0 !important;
  }

  .deans-message iframe,
  .associate-deans-message iframe,
  .student-message iframe,
  .alumna-message iframe,
  .modal-body iframe {
      max-width: 1025px;
      height: 575px;
      width: 100%;
      display: block;
      margin: 3rem auto !important;
  }

  .modal-body > iframe {
    margin: 0 !important;
  }

  .modal-title {
      font-size: 1.625rem;
  }

  p.graduating-list {
    margin-top: 3rem !important;
  }

  ul.majors {
    max-width: 1025px;
    margin: 0 auto !important;
  }

  p.graduating-list a:hover {
    transition: .3s;
    background: white;
    color: #002346;
  }

  .majors-container {
    margin-top: 2rem !important;
  }

  .instagram-intro p {
    font-size: 2rem;
  }

  .instagram-intro svg {
    width: 3.125rem;
    height: 3.125rem;
}

  .instagram-intro:after {
      max-width: 600px;
      width: 100%;
  }

  #sb_instagram.sbi_width_resp {
    max-width: 790px !important;
  }

  footer {
    display: flex;
    justify-content: space-between;
    padding: 0 2.5rem !important;
    height: 5.6rem;
  }

  .clas-wordmark {
    display: block;
  }

  footer .clas-wordmark a {
    display: flex;
  }

}

@media (max-width: 1024px) and (orientation: landscape) {

  #container_graph_headers {
    height: 100vw;
    margin-top: 4rem !important;
  }

  img.background {
    object-position: 0;
  }
}
