			/*random mods */
#post-595 .entry-title {
	display:none;
}
#post-150 .entry-title {
	display:none;
}
@media screen and (min-width:992px) {
	.col-md-3 img {
	max-height:140px;
	width:auto;
}
}
.dl {
	    font-family: 'Gentona_BookItalic';
    color: #000000;
    font-size: 17px;
    line-height: 150%;
}
.dl {
	font-size:120%;
	margin-bottom:1rem;
}
.dl::before {
    content: "\e134";
    font-family: 'Glyphicons Halflings';
    /*float: left;*/
    margin-right: 12px;
    color: #f45a1d;
    transform: scale(1.3);
}
/*buttons*/
/** ORANGE BUTTONS **/

.btn-orange, .btn-orange-large {
    border: 3px solid #f37021 !important;
    cursor: pointer;
    display: inline-block;
    font: 700 16px/1 "Gentona_Bold", "Georgia", serif;
    letter-spacing: 2px;
    padding: 15px 20px;
    text-transform: uppercase;
    border-radius: 0;

    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    margin:.2rem;
}
.btn-orange-large {
   font-size: 2rem;
   vertical-align: middle;
}



a.btn-orange,  a.btn-orange-large {
    color: #f37021 !important;
    text-decoration: none;
}

.btn-orange:hover, .btn-orange-large:hover {
    text-decoration: none;
    background-color:  #f37021 !important;

}
.btn-orange:hover a, .btn-orange-large:hover a {   color: #ffffff!important;
}
/** BLUE BUTTON **/
.btn-blue, .btn-blue-large {
    border: 3px solid rgb(0, 64, 131) !important;
    cursor: pointer;
    display: inline-block;
    font: 700 16px/1 "Gentona_Bold", "Georgia", serif;
    letter-spacing: 2px;
    padding: 15px 20px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    margin:.2rem;

}

.btn-blue-large {
   font-size: 2rem;
   vertical-align: middle;
}


a.btn-blue, a.btn-blue-large {
    color: rgb(0, 64, 131)  !important;
    text-decoration: none;
}

a.btn-blue:hover, a.btn-blue-large:hover {
    color: #ffffff !important;
    text-decoration: none;
    background-color: rgb(0, 64, 131) !important;

}


/** BEIGE BUTTON **/
.btn-beige,.btn-beige-large {
    border: 3px solid  #c6ba97 !important;
    max-width: 100%;
    cursor: pointer;
    display: inline-block;
    font: 700 16px/1 "Gentona_Bold", "Georgia", serif;
    letter-spacing: 2px;
    padding: 15px 20px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    color: #806103 !important;
    margin:.2rem;

}

.btn-beige-large {
   font-size: 2rem;
   vertical-align: middle;
}


a.btn-beige, a.btn-beige-large {
    color:  #c6ba97!important;
    text-decoration: none;
}

a.btn-beige:hover, a.btn-beige-large:hover {
    color: #ffffff !important;
    text-decoration: none;
    background-color:  #c6ba97!important;

}

/* create award pix styles */
.awardpic {
    padding: 1.5rem;
    background: #fff;
    margin: 2rem;
    max-width: 650px;
}
.awardpic img {
	float: none;
	width:auto;
}
.testimonial {
font-family: Quadon_Medium;
    font-size: 1.2rem;
color:rgba(0, 64, 131, 1);
}
.attrib {
	font-family:Quadon_LightItalic;
	font-size:1rem;
}
@media only screen and (min-width: 0px) and (max-width: 749px) {
	.awardpic img {
		max-width:100%;
		height:auto;
	}
}

.landing-page-hero-full .hero-img {
    background-position: center center;
    background-size: cover;
    height: 550px;
    position: relative;
}

/* text styles*/
.blue-highlight {
	font-weight:500;
	color:#00529b;
	text-transform:uppercase;
	font-family: "Gentona_Bold", "Arial", sans-serif;
}
.orange-highlight {
	font-weight:500;
	color:#E47426;
	text-transform:uppercase;
	font-family: "Gentona_Bold", "Arial", sans-serif;
}
ul.orange, ul.orange li {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Gentona_Light';
    color: #000000;
    line-height: 150%;

}
ul.orange li:before {
    padding-right: 8px;
	margin-left:2px;
	content: "•";
    color: #f37021;
}
ul.orange-big, ul.orange-big li {
    padding: 0;
    margin-left: 12px;
    list-style: none;
    font-family: 'Gentona_Light';
	font-weight: 400;
	text-transform:uppercase;
    color: #00529b;
    line-height: 200%;

}
ul.orange-big li:before {
    padding-right: 8px;
    content: "\e072";
    font-family: 'Glyphicons Halflings';
    color: #f37021;
}

h2.orange {
	color:#f37021;
}
p.quote  {
	font-family: Quadon, serif;
	font-size:1.2rem;
	text-align:left;
}
p.attrib {
	font-family: Quadon, serif;
	font-size:.9rem;
	text-align:right;
}
p.p1 {
	font-family:surveyor text a, surveyor text b!important;font-style:italic;font-weight:800;font-size: 1.5rem;color: #00529b;text-align: center;
}
p.p2 {
	font-family:gentona!important;font-style:italic;font-weight:400;font-size: 1.5rem;color: #00529b;margin: 0 6rem
}
p.date {
	font-size: 1.8rem;font-style:normal;color: #c65006;text-align: center
}
/* create inline image styles */
.inline-responsive {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.inline-img-right {
    overflow: hidden;
    float: right;
    width: 400px;
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1.5rem;
}

.inline-img-right p {
    font-family: 'Gentona_BookItalic', Arial, sans-serif;
    font-size: .9rem;
    line-height: 1rem;
    color: #000;
    text-align: left;
}

.inline-img-right img {
    padding-bottom: 0.5rem;
}
/*.inline-responsive blockquote {
    margin: 20% 0 auto;
}/*
/* import Bootstrap grid */
.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@media (min-width:768px){.container{width:750px}}@media (min-width:992px){.container{width:970px}}@media (min-width:1200px){.container{width:1170px}}.container-fluid{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}.row{margin-right:-15px;margin-left:-15px}.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{position:relative;min-height:1px;padding-right:15px;padding-left:15px}.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{float:left}.col-xs-12{width:100%}.col-xs-11{width:91.66666667%}.col-xs-10{width:83.33333333%}.col-xs-9{width:75%}.col-xs-8{width:66.66666667%}.col-xs-7{width:58.33333333%}.col-xs-6{width:50%}.col-xs-5{width:41.66666667%}.col-xs-4{width:33.33333333%}.col-xs-3{width:25%}.col-xs-2{width:16.66666667%}.col-xs-1{width:8.33333333%}.col-xs-pull-12{right:100%}.col-xs-pull-11{right:91.66666667%}.col-xs-pull-10{right:83.33333333%}.col-xs-pull-9{right:75%}.col-xs-pull-8{right:66.66666667%}.col-xs-pull-7{right:58.33333333%}.col-xs-pull-6{right:50%}.col-xs-pull-5{right:41.66666667%}.col-xs-pull-4{right:33.33333333%}.col-xs-pull-3{right:25%}.col-xs-pull-2{right:16.66666667%}.col-xs-pull-1{right:8.33333333%}.col-xs-pull-0{right:auto}.col-xs-push-12{left:100%}.col-xs-push-11{left:91.66666667%}.col-xs-push-10{left:83.33333333%}.col-xs-push-9{left:75%}.col-xs-push-8{left:66.66666667%}.col-xs-push-7{left:58.33333333%}.col-xs-push-6{left:50%}.col-xs-push-5{left:41.66666667%}.col-xs-push-4{left:33.33333333%}.col-xs-push-3{left:25%}.col-xs-push-2{left:16.66666667%}.col-xs-push-1{left:8.33333333%}.col-xs-push-0{left:auto}.col-xs-offset-12{margin-left:100%}.col-xs-offset-11{margin-left:91.66666667%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-0{margin-left:0}@media (min-width:768px){.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{float:left}.col-sm-12{width:100%}.col-sm-11{width:91.66666667%}.col-sm-10{width:83.33333333%}.col-sm-9{width:75%}.col-sm-8{width:66.66666667%}.col-sm-7{width:58.33333333%}.col-sm-6{width:50%}.col-sm-5{width:41.66666667%}.col-sm-4{width:33.33333333%}.col-sm-3{width:25%}.col-sm-2{width:16.66666667%}.col-sm-1{width:8.33333333%}.col-sm-pull-12{right:100%}.col-sm-pull-11{right:91.66666667%}.col-sm-pull-10{right:83.33333333%}.col-sm-pull-9{right:75%}.col-sm-pull-8{right:66.66666667%}.col-sm-pull-7{right:58.33333333%}.col-sm-pull-6{right:50%}.col-sm-pull-5{right:41.66666667%}.col-sm-pull-4{right:33.33333333%}.col-sm-pull-3{right:25%}.col-sm-pull-2{right:16.66666667%}.col-sm-pull-1{right:8.33333333%}.col-sm-pull-0{right:auto}.col-sm-push-12{left:100%}.col-sm-push-11{left:91.66666667%}.col-sm-push-10{left:83.33333333%}.col-sm-push-9{left:75%}.col-sm-push-8{left:66.66666667%}.col-sm-push-7{left:58.33333333%}.col-sm-push-6{left:50%}.col-sm-push-5{left:41.66666667%}.col-sm-push-4{left:33.33333333%}.col-sm-push-3{left:25%}.col-sm-push-2{left:16.66666667%}.col-sm-push-1{left:8.33333333%}.col-sm-push-0{left:auto}.col-sm-offset-12{margin-left:100%}.col-sm-offset-11{margin-left:91.66666667%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-8{margin-left:66.66666667%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-1{margin-left:8.33333333%}.col-sm-offset-0{margin-left:0}}@media (min-width:992px){.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666667%}.col-md-pull-10{right:83.33333333%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666667%}.col-md-pull-7{right:58.33333333%}.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666667%}.col-md-pull-4{right:33.33333333%}.col-md-pull-3{right:25%}.col-md-pull-2{right:16.66666667%}.col-md-pull-1{right:8.33333333%}.col-md-pull-0{right:auto}.col-md-push-12{left:100%}.col-md-push-11{left:91.66666667%}.col-md-push-10{left:83.33333333%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666667%}.col-md-push-7{left:58.33333333%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666667%}.col-md-push-4{left:33.33333333%}.col-md-push-3{left:25%}.col-md-push-2{left:16.66666667%}.col-md-push-1{left:8.33333333%}.col-md-push-0{left:auto}.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-0{margin-left:0}}@media (min-width:1200px){.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9{float:left}.col-lg-12{width:100%}.col-lg-11{width:91.66666667%}.col-lg-10{width:83.33333333%}.col-lg-9{width:75%}.col-lg-8{width:66.66666667%}.col-lg-7{width:58.33333333%}.col-lg-6{width:50%}.col-lg-5{width:41.66666667%}.col-lg-4{width:33.33333333%}.col-lg-3{width:25%}.col-lg-2{width:16.66666667%}.col-lg-1{width:8.33333333%}.col-lg-pull-12{right:100%}.col-lg-pull-11{right:91.66666667%}.col-lg-pull-10{right:83.33333333%}.col-lg-pull-9{right:75%}.col-lg-pull-8{right:66.66666667%}.col-lg-pull-7{right:58.33333333%}.col-lg-pull-6{right:50%}.col-lg-pull-5{right:41.66666667%}.col-lg-pull-4{right:33.33333333%}.col-lg-pull-3{right:25%}.col-lg-pull-2{right:16.66666667%}.col-lg-pull-1{right:8.33333333%}.col-lg-pull-0{right:auto}.col-lg-push-12{left:100%}.col-lg-push-11{left:91.66666667%}.col-lg-push-10{left:83.33333333%}.col-lg-push-9{left:75%}.col-lg-push-8{left:66.66666667%}.col-lg-push-7{left:58.33333333%}.col-lg-push-6{left:50%}.col-lg-push-5{left:41.66666667%}.col-lg-push-4{left:33.33333333%}.col-lg-push-3{left:25%}.col-lg-push-2{left:16.66666667%}.col-lg-push-1{left:8.33333333%}.col-lg-push-0{left:auto}.col-lg-offset-12{margin-left:100%}.col-lg-offset-11{margin-left:91.66666667%}.col-lg-offset-10{margin-left:83.33333333%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-8{margin-left:66.66666667%}.col-lg-offset-7{margin-left:58.33333333%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-5{margin-left:41.66666667%}.col-lg-offset-4{margin-left:33.33333333%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-2{margin-left:16.66666667%}.col-lg-offset-1{margin-left:8.33333333%}.col-lg-offset-0{margin-left:0}}table{background-color:transparent}caption{padding-top:8px;padding-bottom:8px;color:#777;text-align:left}th{text-align:left}.table{width:100%;max-width:100%;margin-bottom:20px}
/* modify Bootstrap grid for image and text flow */
.row {
	clear:both;
}
.col-md-6 img {
	width:100%;
	margin:.5rem;
}
.col-md-4 img {
	width:100%;
	padding:.5rem;
}
.col-md-6 p {
	padding: .5rem;
}
/* modify Bootstrap grid for colors and spacing */
.col-md-4 {
	background: #fff;
	margin:1rem;
}
@media (min-width: 992px) {
.col-md-4 {
    width: 30%;
}
}
/*--------------------------- GRID: grid-123-b ---------------------------*/
   /* One column for mobile portrait
      Two columns for mobile landscape AND tablets
      Three columns for desktop
   */

      /* grid-123 GRID: Desktop*/
      @media only screen and (min-width:1024px) {
         .grid-123-b .X-row {
            width:100%;
         }
         .grid-123-b .X-col{
            float:left;
            clear:none;
            display:inline;
         }
         .grid-123 .p10{ width:10%; }
         .grid-123-b .p20{ width:20%; }
         .grid-123-b .p25{ width:25%; }
         .grid-123-b .p30{ width:30%; }
         .grid-123-b .p33{ width:33.333333333%; }
         .grid-123-b .p40{ width:40%; }
         .grid-123-b .p50{ width:50%; }
         .grid-123-b .p60{ width:60%; }
         .grid-123-b .p70{ width:70%; }
         .grid-123-b .p80{ width:80%; }
         .grid-123-b .p90{ width:90%; }
         .grid-123-b .p100{ width:100%; }
      }


   /* grid-123-b GRID: Mobile Landscape*/
   @media only screen and (min-width:736px) and (max-width : 1024px) {
          .grid-123-b .X-row {
            width:100%;
         }
         .grid-123-b .X-col{
            float:left;
            clear:none;
            display:inline;
         }
         .grid-123 .p10{ width:10%; }
         .grid-123-b .p20{ width:20%; }
         .grid-123-b .p25{ width:25%; }
         .grid-123-b .p30{ width:30%; }
         .grid-123-b .p33{ width:33.333333333%; }
         .grid-123-b .p40{ width:40%; }
         .grid-123-b .p50{ width:50%; }
         .grid-123-b .p60{ width:60%; }
         .grid-123-b .p70{ width:70%; }
         .grid-123-b .p80{ width:80%; }
         .grid-123-b .p90{ width:90%; }
         .grid-123-b .p100{ width:100%; }
   }



   /* grid-123-b GRID: Mobile Landscape*/
   @media only screen and (min-width:481px) and (max-width : 768px) {
          .grid-123-b .X-row {
            width:100%;
         }
         .grid-123-b .X-col{
            float:left;
            clear:none;
            display:inline;
         }
         .grid-123-b .p10{ width:50%; }
         .grid-123-b .p20{ width:50%; }
         .grid-123-b .p25{ width:50%; }
         .grid-123-b .p30{ width:50%; }
         .grid-123-b .p33{ width:50%; }
         .grid-123-b .p40{ width:50%; }
         .grid-123-b .p50{ width:50%; }
         .grid-123-b .p60{ width:50%; }
         .grid-123-b .p70{ width:50%; }
         .grid-123-b .p80{ width:50%; }
         .grid-123-b .p90{ width:50%; }
         .grid-123-b .p100{ width:50%; }
   }

   /* grid-123-b GRID: Mobile Portrait*/
   @media only screen and (min-width:0px) and (max-width : 481px) {
      .grid-123-b{
         background-color:#fffff5;
      }
      .grid-123-b .X-row {
         width:100%;
      }
      .grid-123-b .X-col{
         width:100%;
         clear:both;
         display:block;
      }
   }



.table{
   display:block;;
   width:100%;
}

.table-row{
   display:block;
   clear:both;
   width:100%;
}

.table-cell{
   display:inline-block;
   float:left;
   text-align:center;
   height:24rem;
   vertical-align:middle;
   overflow:hidden;



}
   .color1{ background-color:#F37021; }
   .color2{ background-color:#084B81; }
   .color3{ background-color:#4F8FE1; }
   .color4{ background-color:#4C87B5; }
   .color5{ background-color:#00529B; }
   .color6{ background-color:#DD661E; }




   .table-cell-1{
      width:100%;
      background-color:#F37021;
      color:#ffffff;
      text-align:center;
      /* Vertically Center */
         position: relative;
         top: 50%;
         transform: translateY(-50%);

   }
   .table-cell-2{
      width:100%;
      background-color:#084B81;
      color:#ffffff;
      text-align:center;
      /* Vertically Center */
         position: relative;
         top: 50%;
         transform: translateY(-50%);
   }
   .table-cell-3{
      width:100%;
      background-color:#4F8FE1;
      color:#ffffff;
      text-align:center;
      /* Vertically Center */
         position: relative;
         top: 50%;
         transform: translateY(-50%);
   }
   .table-cell-4{
      width:100%;
      background-color:#4C87B5;
      color:#ffffff;
      text-align:center;
      /* Vertically Center */
         position: relative;
         top: 50%;
         transform: translateY(-50%);
   }
   .table-cell-5{
      width:100%;
      background-color:#00529B;
      color:#ffffff;
      text-align:center;
      /* Vertically Center */
         position: relative;
         top: 50%;
         transform: translateY(-50%);
   }
   .table-cell-6{

      width:100%;
      background-color:#DD661E;
      color:#ffffff;
      text-align:center;
      /* Vertically Center */
         position: relative;
         top: 50%;
         transform: translateY(-50%);
   }


/* Typography */

   .table-cell-1-num{
      line-height:1;
      font-family: "Surveyor Display A", "Surveyor Display B";
      font-style: oblique;
      font-weight: 800;
      color:#084B81;
      margin:0px;
      padding:0px;
   }
   .table-cell-2-num{
     line-height:1;
      font-family:Quadon_Bold,Georgia,serif;
		 font-weight: bold;
      line-height:1;
      color:#ffffff;
      margin:0px;
      padding:0px;
   }
   .table-cell-3-num{
      line-height:1;
      font-family:Gentona_Bold, Helvetica, sans-serif;
		 font-weight: lighter;
      line-height:1;
      color:#ffffff;
      margin:0px;
      padding:0px;
   }
   .table-cell-4-num{
      line-height:1;
      font-family:Quadon_Medium, Georgia, serif;
		 font-style:oblique;
		 font-weight: bold;
      line-height:1;
      color:#ffffff;
      margin:0px;
      padding:0px;
   }
   .table-cell-5-num{
      line-height:1;
      font-family: "Surveyor Display A", "Surveyor Display B";
		 font-weight:bold;
      color:#ffffff;
      margin:0px;
      padding:0px;
   }
   .table-cell-6-num{
      line-height:1;
      font-family:"Surveyor Display A", "Surveyor Display B",serif;
      font-style: italic;
      font-weight: 500;
      color:#084B81;
      margin:0px;
      padding:0px;
   }

   .table-cell-1-txt{
      line-height:1;
      font-family:Gentona_Light, Helvetica, sans-serif;
      line-height:1;
      color:#084B81;
      margin:0px;
      padding:0px;  text-transform:uppercase;
   }
   .table-cell-2-txt{
      line-height:1;
      font-family:Gentona_ExtraBold, Helvetica, sans-serif;
		 font-weight: lighter;
      line-height:1;
      color:#ffffff;
      text-transform:uppercase;
      margin:0px;
      padding:0px;  text-transform:uppercase;
   }
   .table-cell-3-txt{
      line-height:1;
      font-family:Quadon_MediumItalic, Georgia, serif;
      line-height:1;
      color:#ffffff;
      margin:0px;
      padding:0px; text-transform:uppercase;
   }
   .table-cell-4-txt{
      line-height:1;
      font-family:Gentona_Light;
      line-height:1;
      color:#ffffff;
      margin:0px;
      padding:0px; text-transform:uppercase;

   }
   .table-cell-5-txt{
      line-height:1;
      font-family:Quadon_BoldItalic;
      line-height:1;
      color:#ffffff;
      margin:0px;
      padding:0px;  text-transform:uppercase;

   }
   .table-cell-6-txt{
      line-height:1;
      font-family:Gentona_Light;
      line-height:1;
      color:#084B81;
      margin:0px;
      padding:0px;  text-transform:uppercase;

   }



/* Font sizes for HD Desktop */
@media only screen and (min-width:1920px)  {
   /* FONT SIZE is in rems for old browsers that don't support vw (view window width) */
   /* SPAN tags around text are used to move txt up or down, as required */
   .table-cell{
      /* EQUATION FOR DETERMINING BOX HEIGHT: .007991660875608 x + 8.65601111883251   where x is the screen width, 1920px in this case*/
      height:24rem;
   }
   .table-cell-1-num { font-size:21rem; line-height:.75; }
   .table-cell-1-num span{ position:relative;top:-30px; }
   .table-cell-2-num { font-size:12rem; line-height:.8 }
   .table-cell-3-num{ width:35% !important;display:table-cell; vertical-align:middle; font-size:29rem;line-height:.7; padding-left:4rem; }
   .table-cell-3-num span{ position:relative;top:-26px }
   .table-cell-4-num{ font-size:10.5rem; }
   .table-cell-5-num{ font-size:16rem; line-height:.9 }
   .table-cell-5-num span{ position:relative;top:-30px }
   .table-cell-6-num{ font-size:12.5rem;letter-spacing:-2px; }
   .table-cell-1-txt{ font-size:4rem; }
   .table-cell-1-txt span{ position:relative;top:-14px;}
   .table-cell-2-txt{ font-size:3.8rem; }
   .table-cell-3-txt{ width:65%; display:table-cell; vertical-align:middle; font-size:3.5rem; padding:2rem; padding-right:3rem; line-height:1.2;  }
   .table-cell-4-txt{ font-size:3.5rem; }
   .table-cell-5-txt{ font-size:2.65rem; }
   .table-cell-5-txt span{ position:relative;top:-4px }
   .table-cell-6-txt{ font-size:3.5rem; }
}



/* Font sizes for Desktop */
/*  Proportionally decrease all fonts and padding by 33.33%. In other words, multiply numbers from the above breakpoint by 0.666666667 */
@media only screen and (min-width:768px) and (max-width:1920px)  {
   .table-cell{
      height:18.9rem;
   height:20vw;
   }
   .table-cell-1-num { font-size:9vw; line-height:.65; }
   .table-cell-1-num span{ position:relative;top:-2vw; }
   .table-cell-2-num{ font-size:4.5vw; line-height:1.2; }
   .table-cell-3-num{ font-size:6vw;  padding-left:1vw; width:35% !important;display:table-cell; vertical-align:middle; ;line-height:.5; }
   .table-cell-3-num span{ position:relative;top:-1vw }
   .table-cell-4-num{ font-size:6.5vw; }
   .table-cell-4-num span{ position:relative;top:-.5vw }
   .table-cell-5-num{ font-size:10vw; line-height:.9 }
   .table-cell-5-num span{ position:relative;top:-2vw }
   .table-cell-6-num{ font-size:11vw; letter-spacing:-2px; }
   .table-cell-6-num span{ position:relative;top:-1vw;}

   .table-cell-1-txt{ font-size:3vw; }
   .table-cell-1-txt span{ position:relative;top:-.5vw}
   .table-cell-2-txt{ font-size:1.7vw;  }
   .table-cell-3-txt{ font-size:2.7vw; padding:0 4vw; width:auto; display:inline-block; vertical-align:middle;line-height:1.2;  }
   .table-cell-3-txt span{ position:relative;bottom:-1vw;}
   .table-cell-4-txt{font-size:1.5vw;font-family:Gentona_Light,sans-serif;  }
   .table-cell-5-txt{ font-size:1.1vw; line-height: 1.2rem; }
   .table-cell-5-txt span{ position:relative;top:-1vw }
   .table-cell-6-txt{ font-size:1.6vw;}
   .table-cell-6-txt span{ position:relative; top:-.65vw;  }
}


   /* grid-123 GRID: Mobile Landscape*/
@media only screen and (min-width:481px) and (max-width : 768px) {
   /* FONT SIZE is in rems for old browsers that don't support vw (view window width) */
   /* SPAN tags around text are used to move txt up or down, as required */
   .table-cell{
      height:12.5rem;
      height:50vw;
   }
   .table-cell-1-num { font-size:8.05rem; font-size:15vw; line-height:1; }
   .table-cell-1-num span{ position:relative;top:-11.5px; }
   .table-cell-2-num{ font-size:8rem; font-size:14vw; line-height:1.2; }
   .table-cell-3-num{ font-size:11.116666666rem; font-size:15vw; line-height:.7; display:block; width:100%; }
   .table-cell-3-num span{ position:relative;top:-4vw; }
   .table-cell-4-num{ font-size:4.025rem; font-size:14vw;  }
   .table-cell-4-num span{ position:relative;top:-1vw; }
   .table-cell-5-num{ font-size:5.2rem; font-size:14vw; line-height:.9 }
   .table-cell-5-num span{ position:relative;top:-11.5px; top:-3vw}
   .table-cell-6-num{ font-size:4.791666666rem; font-size:14vw; letter-spacing:-1px; }
   .table-cell-6-num span{ position:relative;top:-7px }

   .table-cell-1-txt{ font-size:1.533333334rem; font-size:5vw; }
   .table-cell-1-txt span{ position:relative;top:-5.366666666px; }
   .table-cell-2-txt{ font-size:2rem; font-size:3vw; }
   .table-cell-3-txt{  font-size:1.341666666rem; font-size:3.65vw;  line-height:1.2;  display:block; width:90%;margin:0 auto; }
   .table-cell-3-txt span{ position:relative; }


   .table-cell-4-txt{ font-size:1.341666666rem; font-size:3.5vw; line-height:1.4rem; }

   .table-cell-5-txt{ font-size:1.015833334rem;font-size:2vw;line-height:1.2  }
   .table-cell-5-txt span{ position:relative;top:-1.5333525px }
   .table-cell-6-txt{ font-size:1.3416475rem; }
   .table-cell-6-txt span{ position:relative;top:-1.5333525px }




         }

   /* grid-123 GRID: Mobile Portrait*/
@media only screen and (min-width:0px) and (max-width:481px)  {
   /* FONT SIZE is in rems for old browsers that don't support vw (view window width) */
   /* SPAN tags around text are used to move txt up or down, as required */
   .table-cell{
      height:12.5rem;
      height:50vw;
		 width:50%
   }
   .table-cell-1-num{ font-size:4rem;     font-size: 12vw;
    line-height: .9;  }
   .table-cell-1-num span{ position:relative;top:-10px; }
   .table-cell-2-num{ font-size:1.2rem; font-size:14vw; line-height:.8;bottom:1vw;     }
   .table-cell-3-num{ width:40%; display:table-cell; vertical-align:middle; font-size:7rem;  font-size:12vw; line-height:.7;    }
   .table-cell-3-num span{ position:relative ;top:-15px; }
   .table-cell-4-num{ font-size:5.625rem; font-size:10vw;  }
   .table-cell-4-num span{ position:relative;top:-6px }
   .table-cell-5-num{ font-size:4.385625rem; font-size:14vw;    }
   .table-cell-5-num span{ position:relative; top:6px }
   .table-cell-6-num{ font-size:4rem; font-size:22vw;   }
   .table-cell-6-num span{ position:relative; top:-7px }

   .table-cell-1-txt{ font-size:1.8rem; font-size:10vw; margin: 0 2rem;     }
   .table-cell-1-txt span{ position:relative; top:-2px; }
   .table-cell-2-txt{ font-size:1.5rem; line-height:1.9rem; }
   .table-cell-2-txt span{ position:relative; top:-3px; }
   .table-cell-3-txt{  vertical-align:middle; font-size:1.7rem; text-align:center; line-height:1.1; font-size:5.1vw; margin-right:.5rem; margin-left:.5rem; }
   .table-cell-3-txt span{ position:relative;top:-2px; }
   .table-cell-4-txt{ font-size:2rem;font-size:5vw; padding:1rem;   }
   .table-cell-5-txt{ font-size:2rem; font-size:4vw; padding:1rem;  }
   .table-cell-5-txt span{ position:relative;top:-1.5333525px }
   .table-cell-6-txt{ font-size:1.8rem;  font-size:6vw; }
   .table-cell-6-txt span{ position:relative;top:-1.5333525px }
}


p {
	font-family: quadon_medium !important;
	font-size: 1em;
	color: #000;
	letter-spacing: .5px;
}

p.endnote {
	font-family:Gentona_BookItalic!important;
	font-size:.95rem;
}

.col-md-6 h3, .col-md-6 h4 {
	margin-left:0.5rem;
	margin-top:-1rem;
}
