/*	VARIABLES
	BASE
----------------------------------------------------- */
/* ICON PATH
================================================== */
/* TYPEFACE
================================================== */
@font-face {
  font-family: "Gentona_Thin";
  src: url("Gentona_Thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gentona_ThinItalic";
  src: url("https://news.clas.ufl.edu/fonts/IBMPlexSans/IBMPlexSans-ThinItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gentona_ExtraLight";
  src: url("https://news.clas.ufl.edu/fonts/IBMPlexSans/IBMPlexSans-ExtraLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gentona_ExtraLightItalic";
  src: url("https://news.clas.ufl.edu/fonts/IBMPlexSans/IBMPlexSans-ExtraLightItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gentona_Light";
  src: url("https://news.clas.ufl.edu/fonts/IBMPlexSans/IBMPlexSans-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gentona_LightItalic";
  src: url("https://news.clas.ufl.edu/fonts/IBMPlexSans/IBMPlexSans-LightItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gentona_Book";
  src: url("https://news.clas.ufl.edu/fonts/IBMPlexSans/IBMPlexSans-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Accessibility: font-weight below allows footer links to appear bold */
@font-face {
  font-family: "Gentona_Book";
  src: url("https://news.clas.ufl.edu/fonts/IBMPlexSans/IBMPlexSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gentona_BookItalic";
  src: url("https://news.clas.ufl.edu/fonts/IBMPlexSans/IBMPlexSans-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gentona_Medium";
  src: url("https://news.clas.ufl.edu/fonts/IBMPlexSans/IBMPlexSans-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gentona_MediumItalic";
  src: url("https://news.clas.ufl.edu/fonts/IBMPlexSans/IBMPlexSans-MediumItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gentona_SemiBold";
  src: url("https://news.clas.ufl.edu/fonts/IBMPlexSans/IBMPlexSans-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gentona_SemiBoldItalic";
  src: url("https://news.clas.ufl.edu/fonts/IBMPlexSans/IBMPlexSans-SemiBoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gentona_Bold";
  src: url("https://news.clas.ufl.edu/fonts/IBMPlexSans/IBMPlexSans-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gentona_BoldItalic";
  src: url("https://news.clas.ufl.edu/fonts/IBMPlexSans/IBMPlexSans-BoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gentona_ExtraBold";
  src: url("https://news.clas.ufl.edu/fonts/IBMPlexSans/IBMPlexSans-ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gentona_ExtraBoldItalic";
  src: url("https://news.clas.ufl.edu/fonts/IBMPlexSans/IBMPlexSans-ExtraBoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gentona_Heavy";
  src: url("https://news.clas.ufl.edu/fonts/IBMPlexSans/IBMPlexSans-Heavy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gentona_HeavyItalic";
  src: url("https://news.clas.ufl.edu/fonts/IBMPlexSans/IBMPlexSans-HeavyItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* COLOR SCHEME
================================================== */
/* UI COLOR
================================================== */
/* UI
================================================== */
/* Animation
================================================== */
/* GFX
================================================== */
/* removed font declarations original to the plugin */
/* ***** */
  .tl-timeline {
    font-family: 'Gentona_Medium', sans-serif !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;              /* changed from 1.3em */
  }
  .tl-timeline h1,
  .tl-timeline h2,
  .tl-timeline h3,
  .tl-timeline h4,
  .tl-timeline h5,
  .tl-timeline h6 {
    font-family: 'Surveyor Display A', 'Surveyor Display B', serif;
    text-transform: none;
    font-weight: 700;
    font-size: 46px;    /* according to the "inspect element" tool, the plugin's LESS CSS preprocessor styles are overriding the .tl-timeline h6 styles -- but we want this for appropriately sizing the fonts that display in the bottom timeline box for a given year, so i'm adding some specific selectors below to get the desired effect */
    line-height: 46px;  /* changed from 46px */
  }

  /* start title slide HEADLINE styles */
  .tl-timeline h2.tl-headline-title {
    font-size: 46px !important;              /* changed from 58 px (original plugin style) */
    line-height: 46px !important;            /* changed from 58 px (original plugin style) */
  }
  /* end title slide HEADLINE styles */

  /* start slide HEADLINE styles */
  .tl-text h2.tl-headline {
    font-family: 'Surveyor Display A', 'Surveyor Display B', serif;
    font-size: 46px !important;
    line-height: 46px !important;
    font-weight: 500 !important;
  }
  /* start slide HEADLINE styles */

  .tl-timeline p {
    font-family: 'Gentona_Medium', sans-serif !important;
    font-size: 22px;              /* changed from 16px to the pixel equivalent of 1.375rem */
    line-height: 1.3;             /* changed from 1.3em */
  }
  .tl-timeline ul {
    font-family: 'Gentona_Medium', sans-serif !important;
  }
  .tl-timeline .tl-media .tl-media-wikipedia h4 a,
  .tl-timeline .tl-media h4,
  .tl-timeline .tl-media h4 a {
    font-family: 'Gentona_Medium', sans-serif !important;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;             /* changed from 24px */
  }
  .tl-timeline .tl-caption,
  .tl-timeline .tl-credit {
    font-family: 'Gentona_Medium', sans-serif !important;
  }
  .tl-timeline .vcard {
    font-family: 'Gentona_Medium', sans-serif !important !important;
    font-weight: normal !important;
  }
  .tl-timeline .tl-slidenav-next,
  .tl-timeline .tl-slidenav-previous,
  .tl-timeline .tl-message,
  .tl-timeline .tl-timegroup-message {
    font-family: 'Gentona_Medium', sans-serif !important;
    font-weight: 700;
    text-transform: none;
  }
  .tl-timeline .tl-slidenav-next v,
  .tl-timeline .tl-slidenav-previous .tl-slidenav-title,
  .tl-timeline .tl-message .tl-slidenav-title,
  .tl-timeline .tl-timegroup-message .tl-slidenav-title {
    line-height: 1.5 !important;  /* changed from 1.3em */
  }
  .tl-timeline .tl-headline-date,
  .tl-timeline h3.tl-headline-date {
    font-family: 'Gentona_Medium', sans-serif !important !important;
    font-weight: normal !important;
    text-transform: none !important;
  }
  .tl-timeline .tl-headline-date small,
  .tl-timeline h3.tl-headline-date small {
    font-weight: normal !important;
  }
  .tl-timeline .tl-timenav-slider {
    font-family: 'Gentona_Medium', sans-serif !important;
    font-weight: 700;
  }
  .tl-timeline .tl-timenav-slider h2.tl-headline {
    font-family: 'Gentona_Medium', sans-serif !important;
    font-weight: 700;
    text-transform: none;
  }
  .tl-timeline .tl-timenav-slider .tl-timeaxis {
    font-family: 'Gentona_Medium', sans-serif !important;
    font-weight: 700;
    text-transform: none;
  }
  .tl-timeline .tl-menubar {
    font-family: 'Gentona_Medium', sans-serif !important;
  }
  .tl-timeline blockquote,
  .tl-timeline blockquote p {
    font-family: 'Gentona_Medium', sans-serif !important;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;             /* changed from 1.3 */
  }
  input[type="text"].editor-headline {
    font-family: 'Surveyor Display A', 'Surveyor Display B', serif;
    text-transform: none;
    font-weight: 700;
    font-size: 46px;
    line-height: 1.5;             /* changed from 46px */
  }

  /*
  start - eliminate the underscores under the arrows
  */
  .tl-slidenav-description {
    display: none !important;
  }
  /*
  end - eliminate the underscores under the arrows
  */
  /*
  start - center slide's media image
  */
  div.tl-slide-content {
    display: flex !important;
    flex-wrap: wrap;
  }
  /*
  end - center slide's media image
  */
  /*
  start - make next and back arrow text less grey and more white
  */
  .tl-slidenav-next {
    opacity: 0.7 !important;
  }
  /*
  end - make next and back arrow text less grey and more white
  */

  /* start - increase background opacity */
  .tl-slide .tl-slide-background {
    opacity: .2 !important;
  }
  /* end - increase background opacity */
